COMPOSE_PROJECT_NAME=rivar-demo

POSTGRES_DB=procurement_dss
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=3000
SECRET_KEY=change-this-secret-for-demo

ENVIRONMENT=production
DEBUG=false
ALLOWED_ORIGINS=http://193.162.129.58:3000,http://localhost:3000,http://127.0.0.1:3000

ENABLE_PACKAGE_PROCUREMENT=true
LEGACY_PROJECT_ITEM_FALLBACK=true
SUPPLIER_NORMALIZATION_ENFORCED=false
ENABLE_PACKAGE_BASED_OPTIMIZATION=true
REQUIRE_PACKAGE_ID_FOR_NEW_OPTIONS=false
ENFORCE_PACKAGE_COVERAGE_ON_LOCK=false

REACT_APP_API_URL=http://193.162.129.58:8000

VERIFY_USERNAME=admin
VERIFY_PASSWORD=admin123
